*{
    font-family: 'Arial', san-serif;
    margin: 0 auto;
}
body{
    height:100%;
    font-family: Arial san-serif;
    color: black;
    margin-top: 60px;
}
.container{
    margin: 0 auto;
    width: 1175px;
}


header{
    display: block;
    height: 60px;
    text-align:center;
}
.par{
    margin: 20px;
    padding: 20px;
    padding-left: 50px;
    color:#505050;
}
.nav-link{
    text-decoration: none;
    text-transform: uppercase;
}
.alert{color:red}
.form-group{margin: 5px 0;}
.form-group input{width:280px;height: 25px;}

.parlink{
    padding: 10 0 0 0;
    color:#505050;
    font-size: 15px;
}
.textarea{
    width: 50%;
    height: 40px;
}
.user_input{
    width:150px
    height: 30px;
}

.card{
    float: left;
    margin: 15px;
    border: 1px solid #e5e5e5;
    background: #fff;
    padding: 20px 14px 0;
    margin-bottom: -1px;
    margin-top: 25px;
    box-sizing: border-box;
    height: 510px;
}
.pro{
    border: none;
}
.card-in-add{
    border: none;
}
.card-in-detail{
    display: flex;
}

.item-image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    width: 250px;
}
.card-image{
    height: inherit;
    max-width: 250px;
}
.pro-card{
    width: 50%;
    justify-content: none;
    padding: 20px;
}
.cat-card-links{
    width: 90%;
    margin-top: 25px;
    display: inline-flex;
}
.item-title{
    display: inline-block;
    height: 74px;
    margin-bottom: 2px;
    margin-top: inherit;
    max-width: 400px;
    padding: 25px;
}
.desc-product{
    margin:20px;
}
.card-head{
    display: flex;
    width: 100%
}
.title{
    padding: 15px 15px 0;
    width: 50%
}

.btn{
    height: 38px;
}
.vektum{
    float: none;
}
.submit-button{
    background-color: #6b7dff;
    padding: 4px;
    margin-left: -28px;
    border: 1px;
    color: #fffee8;
    border-radius: 3px;
}
.del{
    display: inline-block;
    background-color: #de4d4d;
    margin-left: 20px;
    padding: 6px 30px;
}
.edit{
    display: inline-block;
    padding: 6px 30px;
}
.row{
    margin-top: 20px;
}
.form-in-del{
    display: flex;

}



